<header class="header" :class="{ 'header-scrolled': scrolled  }" id="header">
    <div class="header-content">
        <a href="/">
            <div class="logo">
                <!-- <div class="logo-drawing-container">
                    <div class="logo-drawing" ref="logo"></div>
                </div> -->
                <div class="logo-text pre-wrap">{{ data.website.logo_text }}</div>
            </div>
        </a>
        <div class="header-menu">
            {% for item in data.menu %}
                {% if item.children %}
                <div class="header-dropdown">
                    {% if item.url %}
                    <a class="header-menu-item header-dropdown-label" href="{{ item.url }}">{{ item.title }} <span class="header-dropdown-caret">▾</span></a>
                    {% else %}
                    <span class="header-menu-item header-dropdown-label" tabindex="0">{{ item.title }} <span class="header-dropdown-caret">▾</span></span>
                    {% endif %}
                    <div class="header-submenu">
                        {% for child in item.children %}
                        <a class="header-submenu-item" href="{{ child.url }}">{{ child.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <a class="header-menu-item" href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</header>
