{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/styles/research.css">
{% endblock %}
{% block main %}
<div class="research-intro">
    {% with screen_background=(data.website.research_background or data.website.members_background),screen_title='Research' %}
    {% include 'screen.html' %}
    {% endwith %}
    {% for item in data.research %}
    <div class="row">
        <div class="container">
            <div class="research-intro-item v-padded">
                {% if item.title %}
                <h3 class="row-title">{{ item.title | markdown_inline }}</h3>
                {% endif %}
                {% if item.image %}
                <img class="research-intro-image" src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
                {% endif %}
                {% if item.content and item.content.strip() %}
                <div class="research-intro-content">{{ item.content | markdown }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
